
	.infoTable {

		margin-top: 15px;

		th {
			background-color: #2B4162;
			color: #fff;
			font-size: 18px;
			font-weight: 10px;
			padding: 3px 8px;
			margin: 5px;
		}
		tr{
			margin: 4px 0;
		}

		.col-true{
			display: inline-block;
			width: 50px;
			background-color: #7DBA84;
		}
		.col-false{
			display: inline-block;
			width: 50px;
			background-color: #AF7A6D;
		}
		
	}


